@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

/* variables */
:root {
  --main-font: "Poppins", sans-serif;
  --style-font: "Dancing Script", cursive;
  --secondary-color: orangered;
}
/* General styling */

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--main-font);
}
a {
  text-decoration: none;
  color: inherit;
}
/* Navigation bar */
.nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 45px;
  width: 100vw;
  position: fixed;
  z-index: 200;
}
.nav-logo > a > img {
  width: 80px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-link-item > a {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
.book-cta,
.contact-form-send {
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 0.5rem;
  border: none;
}
.toggle-icon {
  display: none;
}

/* DISPLAY BANNER SECTION*/
.display-banner {
  height: 80vh;
  width: 100vw;
  margin-top: 90px;
  padding: 5px 40px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    url(/public/house-interior-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.display-banner-text1 {
  text-transform: capitalize;
  font-size: 40px;
  font-family: var(--style-font);
  font-weight: 600;
  color: var(--secondary-color);
}
.display-banner-text2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 20px auto;
}
.display-banner-text3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 450;
}
.display-banner-cta {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
}
.display-banner-cta > a {
  height: 35px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
  transition: all 300ms linear;
}
.view-spaces-cta,
.book-viewing-cta:hover {
  background-color: var(--secondary-color);
}
.view-spaces-cta:hover {
  background-color: transparent;
}

/* ABOUT SECTION */
.about-section {
  margin-top: 20px;
  padding: 10px 40px;
}
.about-section-heading {
  text-transform: uppercase;
  text-align: center;
}
.about-section-subheading {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 3px;
}
.about-description {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
}
.about-text > p {
  text-align: justify;
}
.about-image {
  display: flex;
  justify-content: center;
}
.about-image > img,
.book-image > img {
  border-radius: 10px;
  width: 400px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* SPACES SECTION */
.spaces-section {
  margin-top: 20px;
  padding: 10px 50px;
}
.spaces-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
}
.space-category {
  /* height: max-content; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 10px;
  /* position: relative; */
}
.space-category-name {
  text-transform: capitalize;
}
.space-category-description {
  font-size: 15px;
}
.space-picture {
  margin: 10px 0 5px;
  position: relative;
}
.space-picture > img {
  border-radius: 10px;
  width: 100%;
}
.space-vacancy-banner {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 45px;
  height: 55px;
  padding-bottom: 10px;
}
.space-vacancy-banner-number {
  font-weight: 600;
  font-size: 20px;
}
.space-vacancy-banner-text {
  font-size: 8px;
}
.space-amenities > h4 {
  text-transform: capitalize;
}
.space-amenities > ul {
  padding: 0 20px 10px;
  text-align: justify;
}
.space-amenities > ul > li {
  font-size: 15px;
}
.space-category-price {
  text-align: center;
  font-size: 18px;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 0.5rem;
}

/* CONTACT SECTION */
.contact-section {
  margin-top: 20px;
  padding: 20px 40px;
}
.contact-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}
.contact-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.contact-images > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form > form {
  text-align: center;
  display: grid;
  place-items: center;
}
.contact-form-input > input {
  height: 40px;
}
.contact-form-input > input,
.contact-form-input > textarea {
  width: 300px;
  margin: 5px 0;
  padding: 5px 8px;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--secondary-color);
  font-size: 15px;
}
.contact-form-send {
  height: 40px;
  width: 25%;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
}

/* BOOK SECTION */
.book-section {
  margin: 40px auto;
  padding: 10px 40px;
  /* background-image: url(/public/house-vewing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
.book-container {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.book-image > img {
  height: 400px;
  object-fit: cover;
}
.book-description {
  padding: 20px;
}
.book-description > p {
  text-align: justify;
}

/* FOOTER */
.page-footer {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 20px;
  background-color: grey;
}
.footer-map > iframe {
  width: 80%;
  height: 300px;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 10px 40px;
}
.important-links-content,
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.important-links-content > h4,
.social-links > h4 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.important-links-content > ul,
.social-links > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.social-links > div > a,
.important-links-content > ul > li {
  padding: 10px;
  border-bottom: 1px solid rgb(61, 60, 60);
}
.important-links-content > ul > li > a,
.social-links > div > a {
  text-transform: capitalize;
  font-size: 15px;
}
.important-links-content > ul > li > a:hover,
.social-links > div > a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .spaces-container {
    grid-template-columns: repeat(2, 3fr);
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .toggle-icon {
    display: block;
  }
  .display-banner-text1,
  .display-banner-text2,
  .display-banner-text3 {
    text-align: center;
  }

  .about-description {
    display: flex;
    flex-direction: column;
  }
  .spaces-section,
  .about-section,
  .contact-section {
    padding: 10px 20px;
  }
  .spaces-container {
    grid-template-columns: repeat(1, 3fr);
  }
  .contact-images > a {
    flex-direction: column;
    text-align: center;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contact-images {
    flex-direction: row;
    gap: 20px;
  }
  .book-container {
    flex-direction: column;
    align-items: center;
  }
  .book-image > img {
    width: 300px;
  }
  .page-footer {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 480px) {
  .about-image > img {
    width: 300px;
  }
  .footer-links {
    grid-template-columns: auto;
    gap: 20px;
  }
  .contact-images {
    flex-direction: column;
  }
}
