@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --main-font: "Poppins", sans-serif;
  --style-font: "Dancing Script", cursive;
  --secondary-color: orangered;
}
/* General styling */

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--main-font);
}
/* Navigation bar */
.nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 45px;
  width: 100vw;
  position: fixed;
  z-index: 200;
}
.nav-logo > a > img {
  width: 80px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-link-item > a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  color: #222;
  font-weight: 600;
}
.book-cta, .contact-form-send {
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 0.5rem;
  border: none;
}
.toggle-icon {
  display: none;
}

/* DISPLAY BANNER SECTION*/
.display-banner {
  height: 80vh;
  width: 100vw;
  margin-top: 90px;
  padding: 5px 40px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    ), url(/public/house-interior-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.display-banner-text1 {
  text-transform: capitalize;
  font-size: 40px;
  font-family: var(--style-font);
  font-weight: 600;
  color: var(--secondary-color);
}
.display-banner-text2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 20px auto;
}
.display-banner-text3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 450;
}
.display-banner-cta {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
}
.display-banner-cta > a {
  text-decoration: none;
  height: 35px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 2rem;
  transition: all 300ms linear;
  color: inherit;
}
.view-spaces-cta, .book-viewing-cta:hover{
  background-color: var(--secondary-color);
}
.view-spaces-cta:hover{
  background-color: transparent;
}




/* ABOUT SECTION */
.about-section {
  margin-top: 20px;
  padding: 10px 40px;
}
.about-section-heading{
  text-transform: uppercase;
  text-align: center;
}
.about-section-subheading{
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 3px;
}
.about-description{
  margin-top:20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.about-text > p{
  text-align: justify;
}
.about-image{
  display: flex;
  justify-content: center;
}
.about-image > img {
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



/* SPACES SECTION */
.spaces-section{
  margin-top: 20px;
  padding: 10px 50px;
}
.spaces-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.space-card{
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  position: relative;
}
.space-picture{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.space-card-description{
  padding:0 10px 10px;
}
.space-vacancy-banner{
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35px;
  padding-bottom: 10px;
}
.space-vacancy-banner-number{
  font-weight: 600;
  font-size: 20px;
}
.space-vacancy-banner-text{
  font-size: 5px;
}





/* CONTACT SECTION */
.contact-section{
  margin-top: 20px;
  padding:20px 40px;
  background-color: #e2e8f0;
}
.contact-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}
.contact-images{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.contact-form > form{
  text-align: center;
  /* background-color: red; */
  display:grid;
  place-items: center;
}
.contact-form-input > input{
  height: 35px;
}
.contact-form-input > input, .contact-form-input > textarea{
  width: 300px;
  margin:3px 0;
  padding: 3px 5px;
  border-radius:0.5rem;
  outline: none;
  border: none;
}
















@media screen and (max-width: 692px) {
  .nav-links {
    display: none;
  }
  .toggle-icon {
    display: block;
  }
  .display-banner-text1,
  .display-banner-text2,
  .display-banner-text3 {
    text-align: center;
  }
  
  .about-description{
    display: flex;
    flex-direction: column;
     
  }
}